<!DOCTYPE html>
<html>

<head>
  <title>BooksApp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <% if user_signed_in? %>
  <p><strong><%= User.model_name.human %>: </strong><%= current_user.email %></p>
  <%= link_to t('views.common.link_show', name: User.model_name.human), user_path(current_user) %> |
  <%= link_to t('views.common.link_index', name: User.model_name.human), users_path %> |
  <%= link_to t('views.common.link_index', name: Book.model_name.human), books_path %> |
  <%= link_to t('views.common.logout'), destroy_user_session_path, method: :delete %>
  <% end %>

  <%= yield %>
</body>

</html>
